body,
html {
	overflow-x:hidden;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #fff;  
}

/* a:hover,
a:focus {
	outline: none;
	text-decoration: none;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 0;
}

h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
    padding-top: 30px;
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3d8086;
    height: 70px;
    width: 100vw;
    padding-top: 10px;
    z-index: 10;
}
.logo {
    font-size: 40px;
    color: #fff;
    font-family: 'Aoboshi One', serif;
}

.nav-items ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 70px;
}
li::after {
    content: "";
    display: block;
    position: relative;
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: 0.5s;
}
li:hover::after {
    width: 120%;
}
.button {
    display: none;
}


#Home {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #344041;
}

#Home .container {
    height: 400px;
    width: 75vw;
    background-color: #344041;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
}
.home-intro{
    height: 70px;
    padding: 10px;
}
.home-intro h1{
    font-size: 70px;
    font-family: 'Aoboshi One', serif;
}

.typewriter {
    font-size: 50px;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.my-work-btn {
    font-size: 18px;
    height: 50px;
    width: 150px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-work-btn:hover {
    background-color: #fff;
    color: #344041;
}



/* About Me section */

#about-me {
    height: 700px;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
}

#about-me h2 {
    padding-top: 30px;
}

hr{
    border: 2px solid #344041;
    width: 200px;
    margin-top: -20px;
    margin-bottom: 40px;
}

.about-me-info {
    width: 1000px;
    margin: auto;
    font-size: 18px;
    margin-bottom: 40px;
}

span {
    font-size: 22px;
    font-family: 'Aoboshi One', serif;
    font-weight: 600;
}

.about-me-container {
    height: 450px;
    width: 90vw;
    margin: 20px auto;
    background-color: #D8D8D8;
    display: flex;
    flex-direction: row;
    position: relative;
}

.profile {
    height: 400px;
    width: 380px;
    border-radius: 50%;    
    position: relative;
    left: 100px;
    top: 20px;
    box-shadow: 5px 5px 10px 5px #1c1b1b;
}

.profile img {
    height: 400px;
    width: 380px;
    border-radius: 50%;
}

.about-me-content {
    height: 430px;
    width: 520px;
    /* background-color: red; */
    position: absolute;
    right: 100px;
    top: 10px; 
}

.skills {
    text-align: left;
    padding-left: 30px;
}
.skills h2 {
    text-align: center;
    font-family: 'Aoboshi One', serif;
    font-size: 40px;
    margin: 0;
}
.skills h3 {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}
.skill-bar-container {
    height: 25px;
    width: 450px;
    margin-bottom: 20px;
    background-color: #fff;
    margin-left: 20px;
    box-shadow: 5px 5px 5px#000;
}
.skill-bar {
    height: 25px;
    width: 400px;
    background-color: #3d8086;
    color: #fff;

}


/* Portfolio section */
#my-portfolio {
    height: 650px;
    text-align: center;
}
.owl-theme h4{
    margin-top: 30px;
    padding-top: 20px;
    color: #ffffff;
}

.item {
    margin: auto;
    height: 400px;
    width: 310px;
    background-color: #3d8086;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.work-image {
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: hidden;
}
.work-image img {
    object-fit: fill;
}

.middle {
    position: absolute;
    top: 50%;
    left: 28%;
}
.image-hover-text {
    height: 50px;
    width: 150px;
    background-color: #344041;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0;
    border-radius: 5px;
    font-size: 20px;
}

.work-image:hover .image{
    opacity: 0.3;
}
.work-image:hover .image-hover-text {
    opacity: 1;
}


/* Contact Me Section  */
#contact {
    text-align: center;
}

.my-contact {
    display: flex;
    width: 1200px;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    gap: 30px;
}
.my-contact h3 {
    display: inline;
    font-family: 'Roboto Mono', monospace;
}

.form form{
    height: 300px;
    width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
input {
    height: 50px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
}

textarea {
    width: 100%;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.form-right button {
    height: 50px;
    width: 200px;
    font-size: 25px;
    background-color: #3d8086;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icons {
    font-size: 30px;
}